@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: 'Open Sans', sans-serif;
}

html, body{
  background-color: #007CC7;
  color: white;
  overflow:hidden;
}

@media screen and (max-width: 767px) {
  _::-webkit-full-page-media, _:future, :root .safari_only {
      padding-bottom: 65px;
  }
}