@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: 'Open Sans', sans-serif;
}

html, body{
  background-color: #007CC7;
  color: white;
  overflow:hidden;
}

@media screen and (max-width: 767px) {
  .safari_only {
      padding-bottom: 70px;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
